.container{
    width: 90%;
    margin:auto;
   
}
.personal-data{
    height: 70vh;
    display: flex;
    flex-direction: row;
    margin: auto;
    background: #034555;
    color: white;
    border-radius:20px;
}
.text-info{
    width: 45%;
    margin-left:4em ;
    margin-top: 3em;
    font-family: Roboto;
}
.text-info h1{
    font-size: 50px;
    font-weight: 700;
    font-family: Roboto;
}

/* .myslackImage{
    width: 50%;
} */
img{
    width: 100%;
/*     height: 100%; */
}

.real-time-data{
    height: 70vh;
    background: #90cad8;
    color: rgb(12, 68, 82);
    border-radius:20px;
    margin: auto;
    margin: 10px;
    font-size: 30px;
    font-family: Roboto;
    padding-top: 2em;
    text-align: center;
}

@media (max-width:500px) {
    img{
        width: 100%;
    
    }
    .text-info{
    width: 45%;
    margin-left:20px ;
    margin-top: 2em;
    font-family: Roboto;
}
    .real-time-data{
        padding-top:1em;
    }
}
